.dropDownList {
  position: absolute;
  background: #fff;
  width: 100%;
  padding: calc(var(--spacer) / 8);
  border: 1px solid var(--brand-grey);
  z-index: 2;
  font-size: var(--font-size-small);
}
.dropDownList li {
  text-align: left;
}
.active,
.dropDownList li:hover {
  background: var(--brand-grey-dark);
  cursor: pointer;
  color: var(--brand-white);
}
